<main>
<%= render 'shared/header' %>

<form action="/logout" method="post">
  <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
  <input type="hidden" name="_method" value="delete">
  <button>Log Out</button>
</form>

<h2>Events you are organising</h2>
<div class="banded">
  <% if @user.events.length > 0 %>
      <p>Your events should populate here.</p>
  <% else %>
    <p>You haven't planned any upcoming events yet.</p>
  <% end %>
</div>

<h2>Events you are attending</h2>
<div class="banded">
<% if @user.attendees.length > 0 %>
    <p>Your events should populate here.</p>
<% else %>
  <p>You haven't joined any upcoming events yet.</p>
<% end %>
</div>

<h2>Update Your Details</h2>
<form action="/users/<%= @user.id %>" method="post">
  <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
  <input type="hidden" name="_method" value="put">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" value="<%= @user.first_name %>">
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" value="<%= @user.last_name %>">
  <label for="age">Your Age:</label>
  <input type="number" min="0" max="120" value="<%= @user.age %>">
  <label for="gender">Your Gender:</label>
  <select name="gender" id="gender">
    <option value="">Prefer not to disclose</option>
    <% if @user.gender == "female" %>
      <option value="female" selected>Female</option>
    <% else %>
      <option value="female">Female</option>
    <% end %>
    <% if @user.gender == "male" %>
      <option value="male" selected>Male</option>
    <% else %>
      <option value="male">Male</option>
    <% end %>
  </select>
  <button>Update Your Details</button>
</form>
</main>
