<main>
<%= render 'shared/header' %>
<h2><%= @event.title %></h2>
<h3>Organised by: <%= @event.user.username %></h3>
<p>Where? <%= @event.where %></p>
<p><%= @event.details %></p>
<p>
  This event begins at <%= @event.start_time %><% if @event.finish_time %> and ends at <%= @event.finish_time %><% end %>.
</p>
<% if @event.link %>
  <p><a href="<%= @event.link%>"><%= @event.link%></a></p>
<% end %>
<% if @event.age_min || @event.age_max %>
  <p>This event has an age restriction. Minimum age to attend: <%= @event.age_min || "none" %>. Maximum age to attend: <%= @event.age_max || "none" %>.
<% end %>
<% if @event.gender %>
  <p>This event is restricted to <%= @event.gender %> attendees.</p>
<% end %>
<% if @event.language %>
  <p>This event will be held in <%= @event.language %>.</p>
<% end %>
<% if @event.group_min || @event.group_max %>
  <p>This event has a size restriction. Minimum number of attendees to go ahead: <%= @event.group_min || "none" %>. Maximum number of attendees: <%= @event.group_max || "none" %>.
<% end %>
<% if @attendees.length == 1 %>
  <p>1 person is attending this event.</p>
<% else %>
  <p><%= @attendees.length %> people are attending this event.</p>
<% end %>
<% if @event.user_id == session[:user_id] %>
  <% @attendees.each do |attendee| %>
  <p><%= attendee.user.username %> - <a href="mailto:<%= attendee.user.email %>"><%= attendee.user.email %></a></p>
  <% end %>
  <div class="row">
  <a class="column-2" href="/events/<%= @event.id %>/edit"><button class="big-btn">Edit this event</button></a>
  <form class="column-2" action="/events/<%= @event.id %>" method="post">
    <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
    <input type="hidden" name="_method" value="delete">
    <button class="big-btn">Cancel this event</button>
  </form>
<% else %>
  <% if @event.attendees.find_by(user_id: session[:user_id]) %>
    <form action="/attendees/<%= @event.id %>" method="post">
      <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
      <input type="hidden" name="_method" value="delete">
      <button class="big-btn">Leave this event</button>
    </form>
  <% else %>
    <form action="/attendees/<%= @event.id %>" method="post">
      <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
      <button class="big-btn">Join this event</button>
    </form>
  <% end %>
<% end %>
</main>
